{% extends 'base.html.twig' %}

{% block title %}Shrek{% endblock %}

{% block content %}
    <h1>Bienvenue sur la page Shrek</h1>
    <h2>Shrek : l’ogre qui a conquis le cœur du monde</h2>

    <p>Sorti en 2001, Shrek n’est pas seulement un film d’animation à succès : c’est devenu une véritable référence culturelle. Mélangeant humour, parodie de contes de fées et émotion, il a bouleversé le paysage du cinéma d’animation et donné naissance à une franchise mondialement connue.</p>

    <h2>Un ogre pas comme les autres</h2>

    <p>Shrek est un ogre vert qui vit seul dans son marais, loin du monde qu’il juge envahissant et injuste. Contrairement aux monstres traditionnels des contes, il se révèle sensible, drôle malgré lui, et doté d’une grande humanité. Sa rencontre avec l’Âne, un compagnon bavard et attachant, marque le début d’une aventure inattendue où l’ogre devra sauver la princesse Fiona et, surtout, apprendre à s’accepter tel qu’il est.</p>

    <h2>Une révolution dans l’animation</h2>

    <p>À sa sortie, Shrek a marqué une rupture. Contrairement aux films classiques qui glorifiaient les héros et les princesses, il a choisi de détourner les codes des contes de fées. Avec ses blagues décalées, ses références à la culture pop et son humour parfois irrévérencieux, le film a séduit aussi bien les enfants que les adultes. Il a d’ailleurs remporté l’Oscar du meilleur film d’animation en 2002, une première dans l’histoire de la catégorie.</p>

    <h2>Des personnages inoubliables</h2>
        <ul>
            <li>Shrek : l’ogre bourru mais tendre.</li>
            <li>Fiona : une princesse courageuse qui cache un secret inattendu.</li>
            <li>L’Âne : compagnon comique et fidèle, toujours prêt à parler (souvent trop !).</li>
            <li>Lord Farquaad : le méchant mégalomane, caricature de l’autorité ridicule.</li>
        </ul>

    <p>À travers eux, le film prône l’acceptation de soi et la valeur de l’amitié, tout en jouant avec les clichés du conte traditionnel.</p>

    <h2>Une franchise au succès planétaire</h2>

    <p>Le succès de Shrek a donné naissance à plusieurs suites (Shrek 2, Shrek le troisième, Shrek 4 : Il était une fin), à des spin-offs comme Le Chat Potté, ainsi qu’à des produits dérivés, jeux vidéo et même une comédie musicale. Plus de vingt ans après sa sortie, l’ogre vert reste une icône, aussi bien dans la culture populaire que sur Internet, où il est devenu un véritable phénomène de mèmes.</p>

    <h2>Un message universel</h2>

    <p>Derrière ses gags et ses clins d’œil, Shrek transmet un message puissant : la beauté se trouve dans la différence, et l’amour véritable réside dans l’acceptation mutuelle. Ce mélange d’humour et de sincérité explique pourquoi le film continue de séduire de nouvelles générations.</p>
{% endblock %}
